[submodule "upstreams/taste-skill"]
	path = upstreams/taste-skill
	url = https://github.com/Leonxlnx/taste-skill.git
[submodule "upstreams/impeccable"]
	path = upstreams/impeccable
	url = https://github.com/pbakaus/impeccable.git
